{{- $img := .Page.Resources.GetMatch .Destination -}}
{{- if and (not $img) .Page.File -}}
{{ $path := path.Join .Page.File.Dir .Destination }}
{{- $img = resources.Get $path -}}
{{- end -}}
{{- with $img -}}
<!-- <img class="uncompressed" src="{{ $img.RelPermalink }}" alt="{{ $.Text }}" /> -->
<div class="img-load-wrapper">
<button class="load-img-btn" aria-label="Load image">Load image</button>
<img class="uncompressed" data-src="{{ $img.RelPermalink }}" alt="{{ $.Text }}" />
</div>
{{- else -}}
<!-- <img class="uncompressed" src="{{ .Destination | safeURL }}" alt="{{ $.Text }}" /> -->
<div class="img-load-wrapper">
<button class="load-img-btn" aria-label="Load image">Load image</button>
<img class="uncompressed" data-src="{{ .Destination | safeURL }}" alt="{{ $.Text }}" />
</div>
{{- end -}}

 